*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #f5f5f5;
}
